*{
    margin: 0;
    /* border: border-box; */
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(248, 232, 217) ;
}
.head{
    height: 50px;
    background-color:rgb(248, 232, 217) ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgb(230, 177, 126);
   
}

.center a{
    padding-right: 28px;
    color: black;
    font-weight: 700;
}
.center a:hover{
    border: 2px solid white;
}
.home{
    position: absolute;
    left: 1300px;
    transition:all 1s ease-in ;
}
.home i{
    padding-right: 12px;
}
.home i:hover{
    transform: scale(1.25);
}
.hero{
    height: 200px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: xx-large;
    font-weight: 900;
    transition:all  ease-in ;
}
.hero i:hover{
    transform: scale(1.5);
}
.menu1{
    height: 350px;
    width: 1500px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
}
.box1{
    height: 250px;
    width: 340px;
    border-radius: 30px;
    background-size: cover;
    transition:all 0s ease-in ;
}

.box1 p{
    position:relative;
    top: 250px;
    width: 222px;
    font-size: 1.5rem;
    font-weight: 400;
}
.box1:hover{
    transform: scale(1.05);

}
.menu2{
    height: 350px;
    width: 1500px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
}
.box2{
    height: 250px;
    width: 340px;
    border-radius: 30px;
    background-size: cover;
    transition:all 0s ease-in ;
}
.box2 p{
    position:relative;
    top: 250px;
    width: 222px;
    font-size: 1.5rem;
    font-weight: 400;
}
.box2:hover{
    transform: scale(1.05);

}
.menu3{
    height: 350px;
    width: 1500px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
}
.foot{
    height: 300px;
    background-color: rgb(249, 215, 183);
    border-top: 3px solid rgb(230, 177, 126);
}